/* RESET */

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

/* COMMON */
.b-r {
    border-radius: 30px;
}

/* HEADER SECTION */

.ms_container {
    background-color: #2c3e50;
    height: 70px;
}

header h3 {
    color: white;
    font-size: 1.3rem;
}

.hamburger i{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.7rem;
}

/* IMG HEADER SECTION */

.second_container {
    background-color: #1abc9c;
}

.container-fluid img {
    width: 200px;
}

.title {
    padding: 20px 0;
}

